.glyphicon-chevron-left { 
    &:before { 
        @extend .glyphicon-menu-left; 
    } 
}
.glyphicon-chevron-right { 
    &:before { 
        @extend .glyphicon-menu-right; 
    } 
}

.navbar-brand {
    padding: 0px;
    img {
        height: $navbar-height;
    }
}

.row.with-margin  {
    margin: 10px 0px;
}

.cartera-clientes {
    background-color: white;
    transition: background-color 0.5s;
    height: 450px;
    // border-top: 1px solid;
    &:hover {
        background-color: $color-default;
    }
    img {
        @extend .img-rounded;
    }
}

.navbar-inner {
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.175);
    box-shadow: 0 3px 3px rgba(0,0,0,0.175);
}

.not-visible {
    visibility: hidden;
}

.thumbnail {
    margin: 5px;
}

.footer {
    background-color: $color-terciario;
    color: $color-cuartario;
    .copyright {
        padding: 10px 20px 10px 0px;
        p {
            text-align: right;
        }
    }
    a {
        color: rgba($color-cuartario, 0.75);
    }
}

.container-fluid {
    min-height: 800px;
}

.dropdown {
    &:hover {
        @extend .open;
        .dropdown-menu {
            display: block;
        }
    }
}

.dropdown-menu {
    border-radius: 4px;
}

#spLoader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000; 
    background-color: $color-default; 
    height: 2px;
    @include button-box-shadow(0px 2px 10px 0px rgba(0,0,0,0.75));
}

.empresa-main-card {
    a {
        margin: 10px;
    }
    p {
        width: 50%;
        margin: 0 auto;
    }
}

.productos {
    .header {
        background-color: $color-primario;
        height: 200px;
        padding-top: 100px - 39px;
        padding-right: 5%;
        h1 {
            border-bottom: $color-cuartario 2px solid;
            text-align: right;
        }
    }
}

.breadcrumb {
    margin-top: $line-height-computed;
    margin-bottom: 0px;
}

.lista-links {
    ul {
        padding-left: 0px;
        li {
            list-style-type: none;
            margin: 5px;
        }
        ul {
            padding-left: 15px;
        }
    }
    a {
        cursor: pointer;
        &.active {
            color: #333;
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
    }
}

.navbar-header {
    width: 400px;
}

.separador {
    height: 70px;
}

.delay-0 {
    animation-duration: 1s;
    animation-delay: 0s;
}

.delay-1 {
    animation-duration: 1s;
    animation-delay: 0.2s;
}

.delay-2 {
    animation-duration: 1s;
    animation-delay: 0.4s;
}

.delay-3 {
    animation-duration: 1s;
    animation-delay: 0.6s;
}

.ul-valores {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 7px;
    li {
        margin-bottom: 35px;
        position: relative;
        width: 100%;
        h3 {
            background: $color-secundario;
            display: inline;
            position: absolute;
            top: -35px;
            left: -5px;
            padding: 7px;
            width: 35px;
            color: white;
            text-align: right;
        }
        p {
            top: 40px;
            left: 10px;
            margin-left: 12px;
            padding-left: 20px;
            font-size: 17px;
        }
        &:first-child {
            margin-top: 0px;
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.navbar-header-top {
    height: $navbar-header-top-height;
}

.objetivos {
    padding-right: 5px;
    padding-left: 5px; 
    background-color: white;
    transition: background-color 0.5s;
    height: 250px;
    &:hover {
        background-color: $color-default;
        // @include button-box-shadow(-3px 0px 3px 0px rgba(#000, 0.4));
        & hr {
            border-top: 2px solid $color-cuartario;
        }
    }
}


.btn-primary {
    &:hover, &:focus, &:active, &.focus {
        color: $color-primario;
        background-color: #fff;
        border-color: $color-primario;
    }
}

.politica-detail {
    padding: 0px 20px;
    h2 {
        height: 60px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
}