.row.with-margin  {
    margin: 10px 0px;
}

.cartera-clientes {
    background-color: white;
    transition: background-color 0.5s;
    height: 450px;
    padding: 12px;
    &:hover {
        background-color: white;
        .cartera-clientes-header {
            color: black;
        }
        .carter-clientes-separator {
            border-top-color: $color-cuartario;
        }
    }
    img {
        @extend .img-rounded;
    }
    h1:first {
        color: $color-primario;
    }
    .cartera-clientes-logos {
        display: none;
        color: $color-primario;
        a {
            color: $color-primario;
            &:active {
                color: $color-primario !important;
            }
        }
        .thumbnail {
            height: 100px !important;
        }
        h6 {
            font-weight: bold;
        }
        li {
            cursor: default;
        }
    }
}


.not-visible {
    visibility: hidden;
}

.thumbnail {
    margin: 5px;
}

.footer {
    background-color: $color-default;
    color: #fff;
    .copyright {
        padding: 10px 20px 10px 0px;
        p {
            text-align: right;
        }
    }
    a {
        color: rgba(#fff, 0.75);
    }
    hr {
        border-color: #fff;
    }
}

.container-fluid {
    min-height: 800px;
}

#spLoader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000; 
    background-color: $color-default; 
    height: 2px;
    @include button-box-shadow(0px 2px 10px 0px rgba(0,0,0,0.75));
}

.empresa-main-card {
    a {
        margin: 10px;
    }
    p {
        /*width: 50%;*/
        margin: 0 auto;
        text-align: justify;
    }
    h1 {
        color: $color-primario;
    }
    padding: 12px;
}

.productos {
    .header {
        background-color: $color-primario;
        height: 200px;
        padding-top: 100px - 39px;
        padding-right: 5%;
        h1 {
            border-bottom: $color-cuartario 2px solid;
            text-align: right;
        }
    }
}

.breadcrumb {
    margin-top: $line-height-computed;
    margin-bottom: 0px;
}

.lista-links {
    ul {
        padding-left: 0px;
        li {
            list-style-type: none;
            margin: 5px;
        }
        ul {
            padding-left: 15px;
        }
    }
    a {
        cursor: pointer;
        &.active {
            color: #333;
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
    }
}

.separador {
    height: 70px;
}

.delay-0 {
    animation-duration: 1s;
    animation-delay: 0s;
}

.delay-1 {
    animation-duration: 1s;
    animation-delay: 0.2s;
}

.delay-2 {
    animation-duration: 1s;
    animation-delay: 0.4s;
}

.delay-3 {
    animation-duration: 1s;
    animation-delay: 0.6s;
}

.ul-valores {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 7px;
    li {
        // margin-bottom: 35px;
        margin-bottom: 10px;
        position: relative;
        width: 100%;
        h3 {
            background: $color-secundario;
            display: inline;
            position: absolute;
            top: -35px;
            left: -5px;
            padding: 7px;
            width: 35px;
            color: white;
            text-align: right;
        }
        p {
            top: 40px;
            left: 10px;
            margin-left: 12px;
            padding-left: 20px;
            font-size: 17px;
        }
        &:first-child {
            margin-top: 0px;
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.objetivos {
    padding-right: 5px;
    padding-left: 5px; 
    background-color: white;
    transition: background-color 0.5s;
    height: 250px;
    &:hover {
        background-color: $color-default;
        // @include button-box-shadow(-3px 0px 3px 0px rgba(#000, 0.4));
        & hr {
            border-top: 2px solid $color-cuartario;
        }
    }
}


.btn-primary {
    &:hover, &:focus, &:active, &.focus {
        color: $color-primario;
        background-color: #fff;
        border-color: $color-primario;
    }
}

.politica-detail {
    padding: 0px 20px;
    h2 {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        @media (min-width: $screen-sm-min) {
            height: 60px;
        }
    }
    .politica-detail-info {
        overflow-y: auto;
        color: $color-cuartario;
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: $color-secundario;
        }
        &::-webkit-scrollbar {
            width: 8px;
            background-color: $color-secundario;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: $color-primario;
        }
    }
}

.thumb {
    @extend .img-rounded;
}

.ng-image-gallery {
    margin-bottom: 10px;
}

.clientes {
    figure {
        figcaption {
            p {
                text-align: center;
                position: relative;
                // top: 50%;
                font-size: 25px;
            }
        }
    }
}

.contacto-header, .contacto-header-top {
    font-size: 12px; 
    .contacto-header-field {
        margin-left: 5px;
        font-size: 18px;
    }
}

.contacto-header-top {
    margin-top: 16px;
}

.footer {
    @media (max-width: $screen-xs-max) {
        text-align: center;
    }
}

@keyframes saliendo {
    from {
        height: 50px;
    }

    to {
        height: 0px;
    }
}

@keyframes entrando {
    from {
        height: 0px;
    }

    to {
        height: 50px;
    }
}

.menu.ng-hide {
    animation: fadeOutUp 0.2s, saliendo 0.2s;
}

.menu.ng-hide-remove {
    animation: fadeInDown 0.2s, entrando 0.2s;
}

@keyframes reduce {
    from {
        height: $navbar-height + 25px;
    }

    to {
        height: 38px;
        margin: 6px 0px 6px 0px;
    }
}

@keyframes enlarge {
    from {
        height: 38px;
        margin: 6px 0px 6px 0px;
    }

    to {
        height: $navbar-height + 25px;
    }
}

#imgLogo.reduce {
    animation: reduce 1s;
    height: 38px;
    margin: 6px 0px 6px 0px;
}

#imgLogo.enlarge {
    animation: enlarge 1s;
    height: $navbar-height + 25px;
}

@keyframes reduce-top {
    from {
        margin-top: $navbar-header-top-margin;
        margin-bottom: $navbar-header-top-margin;
        height: $navbar-header-top-height;
    }

    to {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 0px;
    }
}

@keyframes enlarge-top {
    from {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 0px;
    }

    to {
        margin-top: $navbar-header-top-margin;
        margin-bottom: $navbar-header-top-margin;
        height: $navbar-header-top-height;
    }
}

#dvNavTop.reduce-top {
    animation: reduce-top 1s;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 0px;
}

#dvNavTop.enlarge-top {
    animation: enlarge-top 1s;
    margin-top: $navbar-header-top-margin;
    margin-bottom: $navbar-header-top-margin;
    height: $navbar-header-top-height;
}

.cliente-card {
    height: 150px;
    .cliente-card-info {
        color: $color-cuartario;
    }
}

.clientes figure figcaption p { 
    font-size: 16px !important;
}

#ngProgress {
    background-color: $color-default !important;
}

div.padding-x1 {
    padding: 0px 10px;
}

div.padding-x2 {
    padding: 20px;
}

.img-politicas {
    height: 340px;
}

div.thumbnail.obras {
    padding: 0px !important;
}

.height-x4 {
    min-height: 380px !important;
}

.height-x3 {
    max-height: 250px !important;
}

.height-x1 {
    height: 68px !important;
}

.center-heading {
    text-align: center;
}

.img-slider {
    margin: auto; 
    width: 100%;
}

.img-productos {
    height: 200px;
}

.img-obra {
    height: 100%;
}

.img-sn-link-sm {
    width: 16px;
}

.img-sn-link-md {
    width: 35px;
}

.img-sn-link-md-marca-peru {
    width: 110px;
}

.crop {
    width: 100%;
    @media (min-width: $screen-sm-min) {
        height: 200px;
    }
    @media (max-width: $screen-xs-max) {
        height: 90px;
    }
    overflow: hidden;
}

.crop img {
    height: auto;
    width: 100%;
    margin: -30px 0px;
}

#js-navbar-collapse {
    @media (min-width: $screen-sm-min) {
        display: none;
    }
    @media (max-width: $screen-xs-max) {
        display: block;
    }
}

.img-loading {
    height: 100px;
}

.dvMrkCliente {
    border: 1px solid $color-default;
    background-color: white; 
    padding: 5px;
    margin: 0px;
    text-align: center;
    
    h4 {
        text-align: center;
        width: 200px;
    }
    img {
        height: 50px;
    }
}

.dvMrkCliente::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -12px;
    border-width: 12px;
    border-style: solid;
    border-color: $color-default transparent transparent transparent;
}

.custom-marker {
    padding: 0px;
}

.clientes-show {
    &:nth-child(7), &:nth-child(8) {
        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }
}

.li-area {
    border-bottom: 1px solid;
    a {
        font-size: 20px;
        font-weight: bold;
    }
}

.li-linea-producto {
    a {
        font-size: 15px;
        color: $color-default;
        font-weight: bold;
    }
}

.li-pagina {
    a {
        font-size: 15px;
    }
}

.asesorias {
    border: 0.5px solid $color-default;
    margin: 1px 0px 1px 0px;
    padding: 5px;
    border-radius: 5px;
}

.cartera-clientes-logos {
    a {
        color: #ffffff;
        &:hover {
            color: #000000;
        }
    }
}

.obras .caption {
    h3 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
}

.cartera-clientes-description {
    p {
        text-align: justify;
    }
}