$size-glyphicon-small: 18px;

.glyphicon-chevron-left { 
    &:before { 
        @extend .glyphicon-menu-left; 
    } 
}
.glyphicon-chevron-right { 
    &:before { 
        @extend .glyphicon-menu-right; 
    } 
}

.glyphicon-color-default {
    color: $color-default;
}

.glyphicon-user-key:before {
    content: url('../fonts/glyphicons-526-user-key.png');
}