$size-glyphicon-small: 18px;

.glyphicon-chevron-left { 
    &:before { 
        @extend .glyphicon-menu-left; 
    } 
}
.glyphicon-chevron-right { 
    &:before { 
        @extend .glyphicon-menu-right; 
    } 
}

.glyphicon-color-default {
    color: $color-default;
}

.glyphicon-earphone:before {
    background-image: url('../images/glyphicons/png/glyphicons-443-earphone.png');
    background-size: $size-glyphicon-small $size-glyphicon-small;
    display: inline-block;
    width: $size-glyphicon-small; 
    height: $size-glyphicon-small;
    content: "";
}

.glyphicon-user-key:before {
    content: url('../fonts/glyphicons-526-user-key.png');
}