.linea-productos {
    justify-content: space-between;
    margin: 5px;
    color: $color-terciario;
    @media (min-width: $screen-sm-min) {
        height: 500px;
    }
    @media (max-width: $screen-xs-max) {
        max-height: 500px;
    }
    .linea-productos-imagen {
        background: $color-default;
        position: relative;
        @include button-box-shadow(-5px 0px 5px 0px rgba(#000, 0.4));
        img {
            width: 100%;
        }
    }
    .linea-productos-header {
    }
    .linea-productos-description {
        padding: 12px;
        padding-top: 0px;
        text-align: center;
        h2 {
            min-height: 70px;
        }
    }
    
}

.linea-productos-3 {
    display: flex;
    // border: 2px solid !important;
    // border-color: $color-primario !important;
    // @include button-box-shadow(-5px 0px 5px 0px rgba(#000, 0.4));
    .linea-productos-description {
        order: 1;
        padding: 12px;
        text-align: left;
        @media (min-width: $screen-sm-min) {
            width: 70%;
        }
        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
    }
    .linea-productos-imagen {
        order: 2;
        width: 30%;
        overflow-y: auto;
        background: $color-default;
        position: relative;
        @include button-box-shadow(-5px 0px 5px 0px rgba(#000, 0.4));
        img {
            width: 100%;
            float: right;
        }
    }
}
