@font-face {
    font-family: "Blaster Infinite";
    src: url(fonts/Blaster_Infinite_Regular.ttf) format("truetype");
}

@font-face {
    font-family: "News Gothic BT";
    src: url(fonts/newsgoth-bt.ttf) format("truetype");
}

body {
    @media (min-width: $screen-sm-min) {
        padding-top: $navbar-height + $navbar-header-top-height + ($navbar-header-top-margin * 2);
    }
    @media (max-width: $screen-xs-max) {
        padding-top: $navbar-height;
    }
    height: 100%;
}

html {
    height: 100%;
    font-family: $font-family-blaster-infinite;
}

h1, h2, h3, h4 {
    /*text-shadow: $carousel-text-shadow;*/
}

hr {
    border-top: 2px solid $color-secundario;
    margin-top: 0px;
}