$carousel-indicators-bottom: -40px;
$carousel-indicators-size: 15px;

$color-default: #74C15C;
$color-primario: #F58220;
$color-secundario: #A9ABAE;
$color-terciario: #546645;
$color-cuartario: #FFFFFF;

$navbar-header-top-height: 80px;
$navbar-header-top-margin: 25px;

$activeColor: $color-terciario;

$image-bg: $color-terciario;
$figcaption-bg: $color-terciario;