$carousel-indicators-bottom: -40px;
$carousel-indicators-size: 15px;
/*
$color-default: #70AA40;
$color-primario: #76B243;
$color-secundario: #97E556;
$color-terciario: #546645;
$color-cuartario: #D1D1D1;
*/
$color-default: #74C15C;
$color-primario: #F58220;
$color-secundario: #A9ABAE;
$color-terciario: #546645;
$color-cuartario: #FFFFFF;

$navbar-header-top-height: 80px;

$activeColor: $color-terciario;