<div>
    <img class="img-responsive" src="//unsplash.it/1340/200" alt="nuestra-historia" />
</div>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contáctanos</a></li>
        <li>Bolsa de Trabajo</li>
    </ol>
    <h2>Convocatorias</h2>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Documentación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>02 Diseñadores Gráficos</td>
                    <td>10/10/2017</td>
                    <td><a href="#" target="_blank"><span class="glyphicon glyphicon-list-alt"></span></a></td>
                </tr>
                <tr>
                    <td>02 Diseñadores Gráficos</td>
                    <td>10/10/2017</td>
                    <td><a href="#" target="_blank"><span class="glyphicon glyphicon-list-alt"></span></a></td>
                </tr>
                <tr>
                    <td>02 Diseñadores Gráficos</td>
                    <td>10/10/2017</td>
                    <td><a href="#" target="_blank"><span class="glyphicon glyphicon-list-alt"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>