<div>
    <img class="img-responsive" src="//unsplash.it/1340/200" alt="nuestra-historia" />
</div>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contáctanos</a></li>
        <li>Bolsa de Trabajo</li>
    </ol>
    <h2>Convocatorias</h2>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Documentación</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-hide="!loading"><td colspan="3"><div ng-show="loading"><img class="img-loading center-block img-responsive" src="images/loading.gif" alt="Cargando..."></div></td></tr>
                <tr ng-show="!loading && convocatorias.length === 0"><td colspan="5">No hay registros</td></tr>
                <tr ng-repeat="convocatoria in convocatorias">
                    <td>{{ convocatoria.descripcion }}</td>
                    <td>{{ convocatoria.fecha }}</td>
                    <td><a ng-href="{{ path_location + 'files/convocatorias/' + convocatoria.documentacion }}" target="_blank"><span class="glyphicon glyphicon-list-alt"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>