<div>
    <img class="img-responsive" src="//unsplash.it/1340/200" alt="nuestra-historia" />
</div>
<div class="container clientes">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Clientes</li>
    </ol>
    <div class="row">
        <div class="col-xs-3 col-md-2">
            <span class="thumbnail animated zoomIn delay-3">
                <figure class="imghvr-flip-horiz">
                    <img src="//unsplash.it/300/300">
                    <figcaption>
                        <p>Cliente</p>
                    </figcaption>
                </figure>
            </span>
        </div>
        <div class="col-xs-3 col-md-2">
            <span class="thumbnail animated zoomIn delay-3">
                <figure class="imghvr-flip-horiz">
                    <img src="//unsplash.it/300/300">
                    <figcaption>
                        <p>
                            Cliente
                        </p>
                    </figcaption>
                </figure>
            </span>
        </div>
        <div class="col-xs-3 col-md-2">
            <span class="thumbnail animated zoomIn delay-3">
                <figure class="imghvr-flip-horiz">
                    <img src="//unsplash.it/300/300">
                    <figcaption>
                        <p>
                            Cliente
                        </p>
                    </figcaption>
                </figure>
            </span>
        </div>
        <div class="col-xs-3 col-md-2">
            <span class="thumbnail animated zoomIn delay-3">
                <figure class="imghvr-flip-horiz">
                    <img src="//unsplash.it/300/300">
                    <figcaption>
                        <p>
                            Cliente
                        </p>
                    </figcaption>
                </figure>
            </span>
        </div>
        <div class="col-xs-3 col-md-2">
            <span class="thumbnail animated zoomIn delay-3">
                <figure class="imghvr-flip-horiz">
                    <img src="//unsplash.it/300/300">
                    <figcaption>
                        <p>
                            Cliente
                        </p>
                    </figcaption>
                </figure>
            </span>
        </div>
        <div class="col-xs-3 col-md-2">
            <span class="thumbnail animated zoomIn delay-3">
                <figure class="imghvr-flip-horiz">
                <img src="//unsplash.it/300/300">
                    <figcaption>
                        <p>
                            Cliente
                        </p>
                    </figcaption>
                </figure>
            </span>
        </div>
        <div class="col-xs-3 col-md-2">
            <span class="thumbnail animated zoomIn delay-3">
                <figure class="imghvr-flip-horiz">
                    <img src="//unsplash.it/300/300">
                    <figcaption>
                        <p>
                            Cliente
                        </p>
                    </figcaption>
                </figure>
            </span>
        </div>
        <div class="col-xs-3 col-md-2">
            <span class="thumbnail animated zoomIn delay-3">
                <figure class="imghvr-flip-horiz">
                    <img src="//unsplash.it/300/300">
                    <figcaption>
                        <p>
                            Cliente
                        </p>
                    </figcaption>
                </figure>
            </span>
        </div>
        <div class="col-xs-3 col-md-2">
            <span class="thumbnail animated zoomIn delay-3">
                <figure class="imghvr-flip-horiz">
                    <img src="//unsplash.it/300/300">
                    <figcaption>
                        <p>
                            Cliente
                        </p>
                    </figcaption>
                </figure>
            </span>
        </div>
        <div class="col-xs-3 col-md-2">
            <span class="thumbnail animated zoomIn delay-3">
                <figure class="imghvr-flip-horiz">
                    <img src="//unsplash.it/300/300">
                    <figcaption>
                        <p>
                            Cliente
                        </p>
                    </figcaption>
                </figure>
            </span>
        </div>
        <div class="col-xs-3 col-md-2">
            <span class="thumbnail animated zoomIn delay-3">
                <figure class="imghvr-flip-horiz">
                    <img src="//unsplash.it/300/300">
                    <figcaption>
                        <p>
                            Cliente
                        </p>
                    </figcaption>
                </figure>
            </span>
        </div>
        <div class="col-xs-3 col-md-2">
            <span class="thumbnail animated zoomIn delay-3">
                <figure class="imghvr-flip-horiz">
                    <img src="//unsplash.it/300/300">
                    <figcaption>
                        <p>
                            Cliente
                        </p>
                    </figcaption>
                </figure>
            </span>
        </div>
    </div>
</div>