<div class="crop">
    <img class="img-responsive" src="images/image2.png" alt="nuestra-historia" />
</div>
<div class="container clientes">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Clientes</li>
    </ol>
    <div class="row">
        <div ng-show="loading"><img class="img-loading center-block img-responsive" src="images/loading.gif" alt="Cargando..."></div>
        <div class="col-xs-6 col-md-2" ng-repeat="cliente in clientes">
            <span class="thumbnail animated zoomIn delay-3">
                <figure class="imghvr-flip-horiz cliente-card">
                    <img class="img-responsive" ng-src="{{ path_logos + cliente.url }}" alt="{{ cliente.razon_social }}">
                    <figcaption class="cliente-card-info">
                        <p>{{ cliente.razon_social }}</p>
                    </figcaption>
                </figure>
            </span>
        </div>
    </div>
</div>