<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" class="slide carousel-fade">
    <div uib-slide ng-repeat="slide in slides track by slide.index" index="slide.index">
        <img ng-src="{{ path_location}}/img/slides/{{ slide.url }}" style="margin: auto; width: 100%;">
        <div class="carousel-caption animated fadeInLeft" ng-hide="slide.titulo === null">
            <h1>{{slide.titulo}}</h1>
            <p>{{slide.contenido}}</p>
        </div>
    </div>
</div>
<div class="separador hidden-xs">
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="linea-productos not-visible delay-0" when-visible="animateElementIn" when-not-visible="animateElementOut">
                <div class="linea-productos-imagen">
                    <img ng-src="{{ path_location }}/img/productos/{{ productos[0].producto_images[0].url }}" alt="" class="hvr-grow img-responsive" 
                         style="height: 200px;">
                </div>
                <div class="linea-productos-description">
                    <h2><a ui-sref="productos.detail({ id: productos[0].id })" ui-sref-active="active">{{ productos[0].title }}</a></h2>
                    <hr>
                    <p>{{ productos[0].resumen }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="linea-productos not-visible delay-3" when-visible="animateElementIn"
                  when-not-visible="animateElementOut">
                <div class="linea-productos-imagen">
                    <img ng-src="{{ path_location }}/img/productos/{{ productos[1].producto_images[0].url }}" alt="" class="hvr-grow img-responsive" 
                         style="height: 200px;">
                </div>
                <div class="linea-productos-description">
                    <h2><a ui-sref="productos.detail({ id: productos[1].id })" ui-sref-active="active">{{ productos[1].title }}</a></h2>
                    <hr>
                    <p>{{ productos[1].resumen }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="linea-productos not-visible delay-2" when-visible="animateElementIn"
                  when-not-visible="animateElementOut">
                <div class="linea-productos-imagen">
                    <img ng-src="{{ path_location }}/img/productos/{{ productos[2].producto_images[0].url }}" alt="" class="hvr-grow img-responsive" 
                         style="height: 200px;">
                </div>
                <div class="linea-productos-description">
                    <h2><a ui-sref="productos.detail({ id: productos[2].id })" ui-sref-active="active">{{ productos[2].title }}</a></h2>
                    <hr>
                    <p>{{ productos[2].resumen }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="separator hidden-xs">
    </div>
    <div class="row with-margin linea-productos-3 not-visible" when-visible="animateElementIn"
        when-not-visible="animateElementOut">
        <div class="linea-productos-description">
            <h2><a ui-sref="obras-detail({ id: obra.id })" ui-sref-active="active">{{ obra.title }}</a></h2>
            <hr>
            <p>{{ obra.resumen }}</p>
            <a ui-sref="obras-detail({ id: obra.id })" ui-sref-active="active" class="btn btn-lg btn-primary pull-right">Conoce más</a>
        </div>
        <div class="linea-productos-imagen hidden-xs">
            <img ng-src="{{ path_location }}/img/obras/{{ obra.obra_images[0].url }}" class="img-responsive" style="height: 100%;" >
        </div>
    </div>
</div>
<div class="separador hidden-xs">
</div>
<div class="row not-visible empresa-main-card" when-visible="animateElementIn" when-not-visible="animateElementOut">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
        <h1>Tuberías Plásticas</h1>
        <!--<img src="images/separador.svg" alt="separador"/>-->
        <hr>
        <p>{{ infos.resumen_tuplast }}</p>
        <a ng-href="#/quienes-somos" class="btn btn-lg btn-primary ripple">¿Quiénes Somos?</a>
        <a ng-href="#/politicas" class="btn btn-lg btn-default hvr-underline-from-left">Políticas</a>
    </div>
</div>
<div class="separador hidden-xs">
</div>
<div class="row cartera-clientes"
    ng-mouseenter="hoverCarteraClientes($event, true)" ng-mouseleave="hoverCarteraClientes($event, false)" >
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
        <h1>Cartera de Clientes</h1>
        <!--<img src="images/separador.svg" alt="separador"/>-->
        <hr>
        <br />
        <br />
        <div class="cartera-clientes-description animated fadeIn">
            <p>{{ infos.mensaje_clientes_1 }}</p>
            <br/>
            <br/>
            <h1 class="col-md-12">{{ infos.mensaje_clientes_2 }}</h1>
        </div>
        <div class="cartera-clientes-logos animated fadeIn col-sm-12" style="display: none;">
            <div class="row">
                <div class="col-xs-3 col-md-2" ng-repeat="cliente in clientes">
                    <span class="thumbnail animated zoomIn delay-3" style="height: 100px;">
                        <img class="img-responsive" ng-src="{{ path_logos + cliente.url }}" alt="{{ cliente.razon_social }}">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>