<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" class="slide carousel-fade">
    <div uib-slide ng-repeat="slide in slides track by slide.index" index="slide.index">
        <img class="img-slider" ng-src="{{ path_location}}/img/slides/{{ slide.url }}">
        <div class="carousel-caption animated fadeInLeft" ng-hide="slide.titulo === null">
            <h1>{{slide.titulo}}</h1>
            <p>{{slide.contenido}}</p>
        </div>
    </div>
</div>
<div class="separador hidden-xs">
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="linea-productos not-visible delay-0" when-visible="animateElementIn" when-not-visible="animateElementOut">
                <div class="linea-productos-imagen">
                    <img ng-src="{{ path_location }}/img/productos/{{ productos[0].producto_images[0].url }}" alt="" class="hvr-grow img-responsive img-productos">
                </div>
                <div class="linea-productos-description">
                    <h2 class="linea-productos-header"><a ui-sref="productos.detail({ id: productos[0].id })" ui-sref-active="active">{{ productos[0].title }}</a></h2>
                    <hr>
                    <p>{{ productos[0].resumen }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="linea-productos not-visible delay-3" when-visible="animateElementIn"
                  when-not-visible="animateElementOut">
                <div class="linea-productos-imagen">
                    <img ng-src="{{ path_location }}/img/productos/{{ productos[1].producto_images[0].url }}" alt="" class="hvr-grow img-responsive img-productos">
                </div>
                <div class="linea-productos-description">
                    <h2 class="linea-productos-header"><a ui-sref="productos.detail({ id: productos[1].id })" ui-sref-active="active">{{ productos[1].title }}</a></h2>
                    <hr>
                    <p>{{ productos[1].resumen }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="linea-productos not-visible delay-2" when-visible="animateElementIn"
                  when-not-visible="animateElementOut">
                <div class="linea-productos-imagen">
                    <img ng-src="{{ path_location }}/img/productos/{{ productos[2].producto_images[0].url }}" alt="" class="hvr-grow img-responsive img-productos">
                </div>
                <div class="linea-productos-description">
                    <h2 class="linea-productos-header"><a ui-sref="productos.detail({ id: productos[2].id })" ui-sref-active="active">{{ productos[2].title }}</a></h2>
                    <hr>
                    <p>{{ productos[2].resumen }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="separator hidden-xs">
    </div>
    <div class="row with-margin linea-productos-3 not-visible" when-visible="animateElementIn"
        when-not-visible="animateElementOut">
        <div class="linea-productos-description">
            <h2><a ui-sref="obras-detail({ id: obra.id })" ui-sref-active="active">{{ obra.title }}</a></h2>
            <hr>
            <p>{{ obra.resumen }}</p>
            <a ui-sref="obras-detail({ id: obra.id })" ui-sref-active="active" class="btn btn-lg btn-default hvr-underline-from-left pull-right">Conoce más</a>
        </div>
        <div class="linea-productos-imagen hidden-xs">
            <img ng-src="{{ path_location }}/img/obras/{{ obra.obra_images[0].url }}" class="img-responsive img-obra">
        </div>
    </div>
</div>
<div class="separador hidden-xs">
</div>
<div class="row not-visible empresa-main-card" when-visible="animateElementIn" when-not-visible="animateElementOut">
    <div class="col-sm-6 col-sm-offset-3 center-heading">
        <h1>Tuberías Plásticas</h1>
        <hr>
        <p>{{ infos.resumen_tuplast }}</p>
        <a ng-href="#/quienes-somos" class="btn btn-lg btn-default hvr-underline-from-left">¿Quiénes Somos?</a>
        <a ng-href="#/politicas" class="btn btn-lg btn-default hvr-underline-from-left">Políticas</a>
    </div>
</div>
<div class="separador hidden-xs">
</div>
<div class="row cartera-clientes"
    ng-mouseenter="hoverCarteraClientes($event, true)" ng-mouseleave="hoverCarteraClientes($event, false)" >
    <div class="col-sm-6 col-sm-offset-3 center-heading">
        <h1 class="cartera-clientes-header">Cartera de Clientes</h1>
        <hr class="carter-clientes-separator">
        <br />
        <br />
        <div class="cartera-clientes-description animated fadeIn">
            <p>{{ infos.mensaje_clientes_1 }}</p>
            <br/>
            <br/>
            <h1 class="col-md-12">{{ infos.mensaje_clientes_2 }}</h1>
        </div>
        <div class="cartera-clientes-logos animated fadeIn col-sm-12">
            <div class="row">
                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-class="{active: $index === 0}" ng-repeat="rubro in rubros">
                            <a data-target="#rubro{{ $index }}" aria-controls="home" role="tab" data-toggle="tab">{{ rubro.rubro }}</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" ng-class="{active: $index === 0}" ng-repeat="rubro in rubros" id="rubro{{ $index }}">
                            <div class="col-xs-4 col-md-3 clientes-show" ng-repeat="cliente in rubro.clientes">
                                <span class="thumbnail animated zoomIn delay-{{ cliente.delay }}">
                                    <h6>{{ cliente.razon_social }}</h6>
                                    <p>{{ cliente.rubro }}</p>	
                                </span>
                            </div>
                        </div>
                    </div>

                  </div>
            </div>
        </div>
    </div>
</div>