<div>
    <img class="img-responsive" ng-src="{{ path_location + imagen }}" alt="obras" />
</div>
<div class="container politicas">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#/obras">Proyectos</a></li>
        <li>Obras</li>
    </ol>
    <div class="row">
        <div ng-show="loading"><img class="img-loading center-block img-responsive" src="images/loading.gif" alt="Cargando..."></div>
        <ul class="media-list">
            <div class="row with-margin linea-productos-3 not-visible" when-visible="animateElementIn"
                when-not-visible="animateElementOut" ng-repeat="obra in obras">
                <div class="linea-productos-description">
                    <h2><a ui-sref="obras-detail({ id: obra.id })" ui-sref-active="active">{{ obra.title }}</a></h2>
                    <hr>
                    <p>{{ obra.resumen }}</p>
                    <a ui-sref="obras-detail({ id: obra.id })" ui-sref-active="active" class="btn btn-lg btn-default hvr-underline-from-left pull-right">Conoce más</a>
                </div>
                <div class="linea-productos-imagen hidden-xs">
                    <img ng-src="{{ path_location }}/img/obras/{{ obra.obra_images[0].url }}" class="img-responsive img-obra">
                </div>
            </div>
        </ul>
    </div>
</div>