<div class="crop">
    <img class="img-responsive" ng-src="{{ path_location + imagen }}" alt="obras" />
</div>
<div class="container politicas">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#/obras">Proyectos</a></li>
        <li>Obras</li>
    </ol>
    <div class="row">
        <div ng-show="loading"><img class="img-loading center-block img-responsive" src="images/loading.gif" alt="Cargando..."></div>
        <ul class="media-list">
            <li class="media" ng-repeat="obra in obras">
                <div class="media-left">
                    <a ui-sref="obras-detail({ id: obra.id })">
                        <img style="width: 300px;" class="media-object" ng-src="{{path_img + obra.obra_images[0].url }}" alt="{{ obra.title }}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ obra.title }}</h4>
                    <span ng-bind-html="trustAsHtml(obra.resumen)"></span>
                </div>
            </li>
        </ul>
    </div>
</div>