<div class="container nosotros">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contáctanos</a></li>
        <li>Planta Industrial</li>
    </ol>
    <div class="row">
        <div class="col-sm-12" style="padding: 20px;">
            <h2>Planta Industrial</h2>
            <hr>
            <div ng-show="loading"><img class="img-loading center-block img-responsive" src="images/loading.gif" alt="Cargando..."></div>
            <div ng-if="!loading" style="text-align: center;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44695.161449399646!2d-79.08517350862431!3d-8.04714259617867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3ee4818608d7%3A0x6346692a01e48022!2sFabrica+TUPLAST+SAC!5e0!3m2!1ses!2ses!4v1442696188101" width="950" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>
</div>