<div>
    <img class="img-responsive" src="//unsplash.it/1340/200" alt="nuestra-historia" />
</div>
<div class="container politicas">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Nosotros</a></li>
        <li>Políticas</li>
    </ol>
    <div class="row">
        <div class="col-sm-9" style="padding: 20px;">
            <div class="row">
                <div class="col-sm-6 politica-detail">
                    <h2>Políticas de Calidad</h2>
                    <hr>
                    <figure class="imghvr-flip-horiz">
                        <img src="//unsplash.it/340">
                        <figcaption>
                            <p>
                                TUPLAST se compromete en la fabricación de tuberías de PVC de calidad para proyectos y obras, comercio, industria y minería; mediante la planificación, seguimiento y control durante todas sus etapas; orientados siempre en la mejora continua de todos nuestros procesos, logrando la satisfacción de los clientes, con la amplia experiencia de los colaboradores. Buscamos el bienestar y desarrollo integro de nuestro grupo humano que conforma la familia TUPLAST, a fin de ser personas responsables con la sociedad, los clientes y su empresa.
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-6 politica-detail">
                    <h2>Política de Seguridad y Salud Ocupacional</h2>
                    <hr>
                    <figure class="imghvr-flip-horiz">
                        <img src="//unsplash.it/340">
                        <figcaption>
                            <p>
                                TUPLAST tiene por objeto la aplicación de medidas y el desarrollo de las actividades necesarias para la prevención de riesgos de nuestros trabajadores, contratistas, clientes, visitas previniendo el riesgos que se puede ocasionar.
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-6 politica-detail">
                    <h2>Política de Responsabilidad Social</h2>
                    <hr>
                    <figure class="imghvr-flip-horiz">
                        <img src="//unsplash.it/340">
                        <figcaption>
                            <p>
                                TUPLAST considerando las diversas necesidades sociales proyecta su espíritu de colaboración, patrocinando y apoyando los diversos sectores de la comunidad: cultura, deporte, medio ambiente y empleabilidad.
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-6 politica-detail">
                    <h2>Política del Cuidado Ambiental</h2>
                    <hr>
                    <figure class="imghvr-flip-horiz">
                        <img src="//unsplash.it/340">
                        <figcaption>
                            <p>
                                La empresa considerando el compromiso y cuidado del medio ambiente, realiza diversos usos y tratamientos para protección del mismo. Realizando tratamiento de nuestros efluentes y utilizando componentes e insumos de naturaleza ecológica.
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding: 20px;">
            <h3>Noticias</h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="//unsplash.it/70/70" alt="nuestra-historia" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#">Media heading</a></h4>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="//unsplash.it/70/70" alt="nuestra-historia" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#">Media heading</a></h4>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="//unsplash.it/70/70" alt="nuestra-historia" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#">Media heading</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>