<div class="crop">
    <img class="img-responsive" ng-src="{{ path_location + imagen }}" alt="politicas" />
</div>
<div class="container politicas">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#/politicas">Nosotros</a></li>
        <li>Políticas</li>
    </ol>
    <div class="row">
        <div class="col-sm-12 padding-x1">
            <div class="row">
                <div ng-show="loading"><img class="img-loading center-block img-responsive" src="images/loading.gif" alt="Cargando..."></div>
                <div class="col-sm-6 politica-detail" ng-repeat="politica in politicas">
                    <h2>{{ politica.title }}</h2>
                    <hr>
                    <figure class="imghvr-flip-horiz">
                        <img class="img-responsive img-politicas" ng-src="{{path_img + politica.url }}" alt="{{ politica.title }}">
                        <figcaption class="politica-detail-info">
                            <span ng-bind-html="trustAsHtml(politica.body)"></span>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>