<div>
    <img class="img-responsive" src="//unsplash.it/1340/200" alt="nuestra-historia" />
</div>
<div class="container politicas">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Nosotros</a></li>
        <li>Políticas</li>
    </ol>
    <div class="row">
        <div class="col-sm-12" style="padding: 20px;">
            <div class="row">
                <div class="col-sm-6 politica-detail">
                    <h2>Políticas de Calidad</h2>
                    <hr>
                    <figure class="imghvr-flip-horiz">
                        <img src="//unsplash.it/340">
                        <figcaption>
                            <p>
                                Tuplast se compromete a fabricar y comercializar tuberías de PVC-U de calidad para proyectos de agua y saneamiento, comercio, industria y minería; mediante la planificación, seguimiento y control de todas las etapas; orientados siempre a la mejora continua de nuestros procesos; del sistema de gestión de la calidad, cumpliendo los requisitos de los clientes, legales y normativos; logrando su satisfacción. 
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-6 politica-detail">
                    <h2>Política de Seguridad, Salud Ocupacional y Medio Ambiente</h2>
                    <hr>
                    <figure class="imghvr-flip-horiz">
                        <img src="//unsplash.it/340">
                        <figcaption>
                            <p>
                                Tuplast tiene como prioridad la seguridad y salud de sus colaboradores, proveedores, clientes, terceros y la de sus subcontratistas. Nuestra filosofía se basa en el cuidado del principal recurso que tenemos, nuestro capital humano. Por tal motivo nos comprometemos a:
                                <ol>
                                    <li>
                                        Implementar y desarrollar el sistema de gestión de seguridad y salud ocupacional en todos sus procesos y ambiente de trabajo.
                                    </li>
                                    <li>
                                        Cumplir con la normatividad y legislación nacional vigente y aplicable, así como los estándares de calidad a nuestra actividad económica relacionada con la seguridad y salud ocupacional
                                    </li>
                                    <li>
                                        Promover y elevar la concientización por la seguridad y el medio ambiente realizando programas de capacitación con el objetivo de elevar nuestra cultura de seguridad y ecológica.
                                    </li>
                                    <li>
                                        Elaborar, aplicar, mantener estándares y procedimientos de trabajo seguro.
                                    </li>
                                    <li>
                                        Establecer un sistema de controles y auditorias que permitan mejorar continuamente su sistema de gestión de seguridad y salud ocupacional.
                                    </li>
                                    <li>
                                        Incentivar la participación activa de los colaboradores en forma eficaz y segura a emergencias y/o accidentes relacionados a la seguridad y salud ocupacional.
                                    </li>
                                    <li>
                                        Difundir la presente política a todos sus colaboradores y  mantenerla a disposición y vista de todos sus visitantes, siendo actualizada según las necesidades de la empresa y las leyes vigentes.
                                    </li>
                                </ol>
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-6 politica-detail">
                    <h2>Política de Seguridad Integral</h2>
                    <hr>
                    <figure class="imghvr-flip-horiz">
                        <img src="//unsplash.it/340">
                        <figcaption>
                            <p>
                                En Tuplast cuidamos la integridad de nuestros colaboradores por lo que consideramos lo siguiente:
                            </p>
                            <p>
                                Todo colaborador de la empresa que vea amenazado su integridad física o su vida ante un peligro inminente (sea en una actividad que constituya un riesgo importante o intolerable para su seguridad y salud); podrá tener la faculta de interrumpir sus actividades y si fuera necesario abandonar de forma inmediata el lugar o área donde se desarrollan sus labores, hasta que el riesgo se haya reducido o controlado.
                            </p>
                            <p>
                                La presente política se ha establecido para dar cumplimiento con la Ley de Seguridad y Salud en el Trabajo Ley N° 29783 Articulo 63 y su modificatoria de Ley N° 30222 sobre la Interrupción de actividades en caso inminente de peligro, 
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>