<div class="container productos">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a ui-sref="productos.detail({ id: 1 })" ui-sref-active="active">Productos</a></li>
        <li>{{ title }}</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <img class="img-responsive" src="//unsplash.it/1140/200" alt="productos" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 lista-links">
            <ul>
                <li ng-repeat="producto_page in producto_pages">
                    <a ui-sref="productos.detail({ id: producto_page.id })" ui-sref-active="active">{{ producto_page.title }}</a>
                </li>
                <li>Línea de Productos
                    <ul>
                        <li ng-repeat="producto in productos">
                            <a ui-sref="productos.detail({ id: producto.id })" ui-sref-active="active">{{ producto.title }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <ui-view class="col-sm-9">
        </ui-view>
    </div>
</div>