<div class="container productos">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a ui-sref="productos.detail({ id: 1 })" ui-sref-active="active">Productos</a></li>
        <li>{{ title }}</li>
    </ol>
    <div class="row">
        <div class="crop">
    <img class="img-responsive" ng-src="{{ path_location + imagen }}" alt="productos" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 lista-links">
            <ul>
                <li ng-repeat="producto in productos" ng-class="{'li-area': producto.type === 'A', 'li-linea-producto': producto.type === 'L', 'li-pagina': producto.type === 'P'}">
                    <a ui-sref="productos.detail({ id: producto.id })" ui-sref-active="active"  ng-bind-html="producto.title" ></a>
                </li>
            </ul>
        </div>
        <ui-view class="col-sm-9">
        </ui-view>
    </div>
</div>