<div>
    <img class="img-responsive" src="//unsplash.it/1340/200" alt="nuestra-historia" />
</div>
<div class="container nosotros">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Nosotros</a></li>
        <li>¿Quiénes Somos?</li>
    </ol>
    <div class="row">
        <div class="col-sm-12 padding-x2">
            <h2>Nuestra Historia</h2>
            <hr>
            <span ng-bind-html="quienesSomos.nuestraHistoria"></span>
            <h2>Valores</h2>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="ul-valores">
                        <li>{{ quienesSomos.valor1 }}</li>
                        <li>{{ quienesSomos.valor2 }}</li>
                        <li>{{ quienesSomos.valor3 }}</li>
                        <li>{{ quienesSomos.valor4 }}</li>
                        <li>{{ quienesSomos.valor5 }}</li>
                        <li>{{ quienesSomos.valor6 }}</li>
                        <li>{{ quienesSomos.valor7 }}</li>
                    </ul>
                </div>
            </div>
            <h2>Visión</h2>
            <hr>
            <span ng-bind-html="quienesSomos.vision"></span>
            <h2>Misión</h2>
            <hr>
            <span ng-bind-html="quienesSomos.mision"></span>
            <br>
            <br>
        </div>
    </div>
</div>