<div>
    <img class="img-responsive" src="//unsplash.it/1340/200" alt="nuestra-historia" />
</div>
<div class="container nosotros">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Nosotros</a></li>
        <li>¿Quiénes Somos?</li>
    </ol>
    <div class="row">
        <div class="col-sm-9" style="padding: 20px;">
            <h2>Nuestra Historia</h2>
            <hr>
            <p>
                La empresa fue constituida el 03-12-2010, como Sociedad Anónima Cerrada con RUC: 20482785078. Objeto: Fabricación de conexiones y tuberías de PVC para luz, agua, desagüe y alcantarillado. Importación, representación y comercialización de materia prima para la fabricación de tuberías en general. Ubicación Planta: Valle Moche Sector III- Block vd. 45-III- Huanchaco. Oficina: Av. España 2419- Oficina 302- Urb. Torres Araujo- Trujillo
            </p>
            <h2>Valores</h2>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <ul class="ul-valores">
                        <li when-visible="animateElementIn" when-not-visible="animateElementOut"><h3>T</h3> <p>rabajo en equipo</p></li>
                        <li when-visible="animateElementIn" when-not-visible="animateElementOut"><h3>U</h3> <p>nidad</p></li>
                        <li when-visible="animateElementIn" when-not-visible="animateElementOut"><h3>P</h3> <p>rofesionalismo</p></li>
                        <li when-visible="animateElementIn" when-not-visible="animateElementOut"><h3>L</h3> <p>ealtad</p></li>
                        <li when-visible="animateElementIn" when-not-visible="animateElementOut"><h3>A</h3> <p>cción</p></li>
                        <li when-visible="animateElementIn" when-not-visible="animateElementOut"><h3>S</h3> <p>ervicio</p></li>
                        <li when-visible="animateElementIn" when-not-visible="animateElementOut"><h3>T</h3> <p>enacidad</p></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" src="//unsplash.it/400/400" alt="nuestra-historia" />
                </div>
            </div>
            <h2>Visión</h2>
            <hr>
            <p>
                Liderar el mercado nacional en la fabricación, distribución y comercialización en tuberías de PVC; generando rentabilidad, otorgando productos de calidad, satisfaciendo a nuestros clientes y contribuyendo con el desarrollo del país.
            </p>
            <h2>Misión</h2>
            <hr>
            <p>
                Dedicarnos a la fabricación, distribución y comercialización de Tuberías de PVC; brindando soluciones innovadoras a los diversos sectores empresariales, basados en nuestros adecuados procesos industriales.
            </p>
            <h2>Objetivos</h2>
            <hr>
            <div class="row">
                <div class="col-sm-4 objetivos" when-visible="animateElementIn" when-not-visible="animateElementOut">
                    <h3>Con los Clientes</h3>
                    <hr>
                    <p>
                        Brindar productos de calidad para satisfacer las múltiples necesidades de nuestros clientes en las instalaciones de agua, desagüe, luz y alcantarillado en sus diversas medidas; otorgando un servicio de post-venta adecuado.
                    </p>
                </div>
                <div class="col-sm-4 objetivos" when-visible="animateElementIn" when-not-visible="animateElementOut">
                    <h3>En la Empresa</h3>
                    <hr>
                    <p>
                        Mantener el orden y una adecuada organización estructural y funcional de los cargos que se desempeñan, exigiendo el cumplimiento de las funciones de cada puesto.
                    </p>
                    <p>
                        Proporcionar información veraz y precisa hacia nuestros clientes.
                    </p>
                </div>
                <div class="col-sm-4 objetivos" when-visible="animateElementIn" when-not-visible="animateElementOut">
                    <h3>Con el Recurso Humano</h3>
                    <hr>
                    <p>
                        Desarrollar las capacidades y habilidades de nuestros colaboradores, siempre buscando su crecimiento profesional, basados en una política de mejora continua dentro de un ambiente de trabajo armonioso.
                    </p>
                </div>
            </div>
            <br>
            <br>
        </div>
        <div class="col-sm-3" style="padding: 20px;">
            <h3>Noticias</h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="//unsplash.it/70/70" alt="nuestra-historia" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#">Media heading</a></h4>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="//unsplash.it/70/70" alt="nuestra-historia" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#">Media heading</a></h4>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="//unsplash.it/70/70" alt="nuestra-historia" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#">Media heading</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>