<div>
    <img class="img-responsive" src="//unsplash.it/1340/200" alt="nuestra-historia" />
</div>
<div class="container nosotros">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Nosotros</a></li>
        <li>¿Quiénes Somos?</li>
    </ol>
    <div class="row">
        <div class="col-sm-12" style="padding: 20px;">
            <h2>Nuestra Historia</h2>
            <hr>
            <span ng-bind-html="quienesSomos.nuestraHistoria"></span>
            <h2>Valores</h2>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="ul-valores">
                        <li when-visible="animateElementIn" when-not-visible="animateElementOut">{{ quienesSomos.valor1 }}</li>
                        <li when-visible="animateElementIn" when-not-visible="animateElementOut">{{ quienesSomos.valor2 }}</li>
                        <li when-visible="animateElementIn" when-not-visible="animateElementOut">{{ quienesSomos.valor3 }}</li>
                        <li when-visible="animateElementIn" when-not-visible="animateElementOut">{{ quienesSomos.valor4 }}</li>
                        <li when-visible="animateElementIn" when-not-visible="animateElementOut">{{ quienesSomos.valor5 }}</li>
                        <li when-visible="animateElementIn" when-not-visible="animateElementOut">{{ quienesSomos.valor6 }}</li>
                        <li when-visible="animateElementIn" when-not-visible="animateElementOut">{{ quienesSomos.valor7 }}</li>
                    </ul>
                </div>
            </div>
            <h2>Visión</h2>
            <hr>
            <span ng-bind-html="quienesSomos.vision"></span>
            <h2>Misión</h2>
            <hr>
            <span ng-bind-html="quienesSomos.mision"></span>
            <!--
            <h2>Objetivos</h2>
            <hr>
            <div class="row">
                <div class="col-sm-4 objetivos" when-visible="animateElementIn" when-not-visible="animateElementOut">
                    <h3>Con los Clientes</h3>
                    <hr>
                    <p>
                        Brindar productos de calidad para satisfacer las múltiples necesidades de nuestros clientes en las instalaciones de agua, desagüe, luz y alcantarillado en sus diversas medidas; otorgando un servicio de post-venta adecuado.
                    </p>
                </div>
                <div class="col-sm-4 objetivos" when-visible="animateElementIn" when-not-visible="animateElementOut">
                    <h3>En la Empresa</h3>
                    <hr>
                    <p>
                        Mantener el orden y una adecuada organización estructural y funcional de los cargos que se desempeñan, exigiendo el cumplimiento de las funciones de cada puesto.
                    </p>
                    <p>
                        Proporcionar información veraz y precisa hacia nuestros clientes.
                    </p>
                </div>
                <div class="col-sm-4 objetivos" when-visible="animateElementIn" when-not-visible="animateElementOut">
                    <h3>Con el Recurso Humano</h3>
                    <hr>
                    <p>
                        Desarrollar las capacidades y habilidades de nuestros colaboradores, siempre buscando su crecimiento profesional, basados en una política de mejora continua dentro de un ambiente de trabajo armonioso.
                    </p>
                </div>
            </div>
            -->
            <br>
            <br>
        </div>
    </div>
</div>