<div>
    <img class="img-responsive" src="//unsplash.it/1340/200" alt="sugerencias" />
</div>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contáctanos</a></li>
        <li>Sugerencias</li>
    </ol>
    <div class="row">
        <div class="col-sm-12" style="padding: 20px;">
            <h2>Sugerencias</h2>
            <hr>
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sltTipoSugerencia">Tipo</label>
                            <select id="sltOrigen" class="form-control"
                                ng-options="tipo_sugerencia.email as tipo_sugerencia.descripcion for tipo_sugerencia in tipo_sugerencias"
                                ng-model="email">
                                <option value="">Selecciona un Tipo de Sugerencia</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="txtEmail">Email</label>
                            <input id="txtEmail" type="email" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtAsunto">Asunto</label>
                    <input id="txtAsunto" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtaMensaje">Mensaje</label>
                    <textarea id="txtaMensaje" class="form-control" style="height: 150px;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>