<div>
    <img class="img-responsive" src="//unsplash.it/1340/200" alt="sugerencias" />
</div>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contáctanos</a></li>
        <li>Sugerencias</li>
    </ol>
    <div class="row">
        <div class="col-sm-12" style="padding: 20px;">
            <h2>Sugerencias</h2>
            <hr>
            <form>
                <div class="form-group">
                    <label for="sltTipoConsulta">Tipo</label>
                    <select class="form-control" id="sltTipoConsulta">
                        <option value="">Selecciona Tipo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtAsunto">Asunto</label>
                    <input id="txtAsunto" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtaMensaje">Mensaje</label>
                    <textarea id="txtaMensaje" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>